.fixture {
   .skin-changer-icon {
      @width: 20px;
      @height: 20px;
      top: @height + 2px;
      right: -40px + 2px;
      width: @width;
      height: @height;
      margin: -@height -@width 0px 0px;
   }
}