.item-appeal-tooltip {
   display: inline-block;
   background-image: url(/stonehearth/ui/common/images/appeal.png);
   background-repeat: no-repeat;
   background-size: 27px 27px;
   background-position: 0px -5px;
   font-weight: normal;
   color: white;
   font-family: AutourOneRegular;
   font-size: 15px;
   padding: 0px 0px 5px 27px;
   margin: 0px 0px 0px 5px;
}

.item-net-worth-tooltip {
   display: inline-block;
   background-image: url(/stonehearth/ui/game/show_workshop/images/stat_net_worth_icon.png);
   background-repeat: no-repeat;
   background-size: 27px 27px;
   background-position: 0px -5px;
   font-weight: normal;
   color: white;
   font-family: AutourOneRegular;
   font-size: 15px;
   padding: 0px 0px 5px 27px;
   margin: 0px 0px 0px 5px;
}

.item-skin-changer-tooltip {
   color: @goldColor;
   background-image: url(/lostems/ui/common/images/skin_changer_icon.png);
   background-repeat: no-repeat;
   background-size: 20px 20px;
   background-position: left center;
   padding: 0px 0px 0px 27px;
   margin: 8px 0px 2px 0px;
}

.item-inside-tooltip-icon {
   display: inline-block;
   width: 100px;
   height: 100px;
   padding: 0px 0px 0px 0px;
}

.skin-changer-icon {
   position: relative;
   width: inherit;
   height: inherit;
   background-image: url(/lostems/ui/common/images/skin_changer_icon.png);
   background-position: right top; 
   background-repeat: no-repeat;
   background-size: 20px 20px;
}