.itemPalette {
   .skin-changer-icon {
      position: absolute;
      top: -5px;
      right: -5px;
   }
}

.item-net-worth-appeal-tooltip-container {
   display: flex;
   flex-direction: row;
   float: right;
}